/* Variables */
:root{
    /*Primary colors*/
    --primary-nutmeg-color: hsl(14, 45%, 36%);
    --dark-raspberry: hsl(332, 51%, 32%);
    /* Neutral colors */
    --neutral-white:hsl(0, 0%, 100%);
    --rose-white: hsl(330, 100%, 98%);
    --eggshell: hsl(30, 54%, 90%);
    --light-grey: hsl(30, 18%, 87%);
    --wenge-brown: hsl(30, 10%, 34%);
    --dark-charcoal: hsl(24, 5%, 18%);

    /*Typography*/
    --paragrapg-size: 1rem;
    --normal-weight: 400;
    --medium-weight: 600;
    --bold-weight: 700;
    --title-font: "Young Serif", serif;
}

/* Repeat values */

.header-container,
.preparation-container,
.ingredients-container,
.instructions-container,
.nutrition-container{
    padding: 0 2rem;
}
.ingredients-title,
.instructions-title,
.nutrition-title{
    margin-bottom: 1rem;
    font-size: 1.7rem;
    font-family: var(--title-font);
    font-weight: 500;
    color: var(--primary-nutmeg-color);
}
.ingredients-container::after,
.instructions-container::after{
    content: "";
    display: block;
    margin: 2rem 0;
    border-bottom: 2px solid var(--light-grey);

}
/* End Repeat values */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
    line-height: 1.5rem;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--eggshell);
    color: var(--wenge-brown);
}
.main-container{
    max-width: 375px;
    background-color: var(--neutral-white);
}
.img-container img{
    max-width: 100%;
    margin-bottom: 2rem;
}
.header-title{
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: var(--normal-weight);
    font-family: var(--title-font);
    color: var(--dark-charcoal);
    line-height: 2.3rem;
}

/* Preparation container */
.preparation-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    background-color: var(--rose-white);
    margin: 2rem;
    padding: 1.5rem;
    border-radius: .5rem;
}
.preparation-title{
    font-size: 1.1rem;
    color: var(--dark-raspberry);
    align-self: start;
    margin-bottom: .5rem;
}
.preparation-list{
    margin-left: 1.5rem;
}
.preparation-list__item{
    color: var(--wenge-brown);
    padding: .3rem;
}
.preparation-list__item::marker{
    color:var(--dark-raspberry);
    font-size: .8rem;
}
.preparation-list__item span{
    font-weight: var(--bold-weight);
}

/* Ingredients container */

.ingredients-list,
.instructions-list{
    margin-left: 1.875rem;
}
.instructions-list__item::marker{
    color: var(--primary-nutmeg-color);
}
.ingredients-list__item{
    padding-left: 20px;
    margin-left: -15px;
    margin-bottom: .7rem;
}
.ingredients-list__item::marker{
    color: var(--primary-nutmeg-color);
    font-size: .8rem;
}
.instructions-list__item {
    padding-left: 10px;
    margin-bottom: .5rem;
}
.instructions-list__item span{
    font-weight: var(--bold-weight);
}
/* Nutrition container */

.nutrition-container{
    margin-bottom: 2.5rem;
}
.nutrition-description{
    margin-bottom: 1.2rem;
}
/* .nutrition-table{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.property{
    padding-right: 3.5rem;
}
.nutrition-table .value{
    font-weight: var(--bold-weight);
    color:var(--primary-nutmeg-color);
} */

.table-item{
    display: flex;
    justify-content: space-evenly;
    align-items: e;
    margin-bottom: .5rem;
}
.table-item .value{
    font-weight: var(--bold-weight);
    color: var(--primary-nutmeg-color);
}